# IntelliJ IDEA
.idea/
*.iml

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Sistema operativo
.DS_Store
Thumbs.db

# VS Code (si usas ocasionalmente)
.vscode/

# Archivos temporales y logs
*.log
*.tmp
*.bak

# Archivos personales o generados
estructura.txt
